[Unit]
Description=Notify when the battery is low and the computer is discharging.

[Timer]
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target
