[Unit]
Description=Notify when the battery is low and the computer is discharging.

[Timer]
# OnCalendar=*-*-* *:*:00
OnCalendar=*:0/5
Unit=lowbattery.service

[Install]
WantedBy=timers.target
