[Unit]
Description=Notify when the battery is low and the computer is discharging.

[Timer]
OnCalendar=*-*-* *:*:0

[Install]
WantedBy=timers.target


[Service]
# WorkingDirectory=/path/to/script
ExecStart=sh -c ~/.local/bin/lowram
