[Unit]
Description=Notify when the battery is low and the computer is discharging.

[Timer]
; OnBootSec=15min
OnUnitActiveSec=1m

[Install]
WantedBy=timers.target
