[Unit]
Description=Notify when the ram is low and the computer is overloading.

[Service]
ExecStart=sh -c ~/.local/bin/lowram

[Install]
WantedBy=graphical.target
